.DS_Store
/.build
/Packages
/*.xcodeproj
image.ppm
SwiftTracer.xcodeproj/project.pbxproj
SwiftTracer.xcodeproj/xcuserdata/Robert.xcuserdatad/xcschemes/SwiftTracer.xcscheme
SwiftTracer.xcodeproj/xcuserdata/Robert.xcuserdatad/xcschemes/xcschememanagement.plist
DerivedData
